.navBarOCM{
  height:50px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  /* background-color: aqua; */
  }

.homeOCM{
  font-size: 32px;
  color: white;
  margin-right: 40px;
}

.textoLogo{
  margin-left:10px;
}

#logo {
  margin-top: 10px;
}

#titulo {
  font-weight: 700 !important;
  margin-top: 20px;
  margin-left: 20px;
  color: #3c4858;
  font-family: var(--fuente-principal);
  font-size: 28px;
  text-shadow: 4px 4px 4px #aaa;

}

/* --------------------------------------------------------------------- */
/* https://lenguajecss.com/p/css/propiedades/responsive-design */
@media screen and (max-width: 640px) {

  #home{
    font-size: 16px;
  }

  #logo {
    margin-top: 2px;
    width: 173px;
    height: 37px;
    }
    .textoLogo{
      margin-left:2px;
      font-size: 10px;
    }

    #titulo {
      font-weight: 700 !important;
      margin-top: 2px;
      color: #3c4858;
      font-family: var(--fuente-principal);
      font-size: 10px;
      text-shadow: 2px 2px 2px #aaa;
    }
}
/* --------------------------------------------------------------------- */

