<div class="row">
    <div class="col-2 text-right align-self-center">
          <a routerLink="/" *ngIf="router.url !== '/home'">
          <i class="fa fa-home " aria-hidden="true" id="home"></i>
        </a>
    </div>
    <div class="col-8 text-center">
        <img src="./assets/img/LogoOCM.png" id="logo" alt="Logo OCM">
    </div>
    <div class="col-2"></div>
</div>

 <div>
      <h4 class="text-center" id="titulo"> Datos del estado de ejecución presupuesto 2019 al 2 de septiembre de 2019.</h4>
 </div>
