<div class="divIndice">
<h3 class="rowTexto">Ingresos.</h3>
<div class="rowStyle">
  <div class="card">
    <div class="cardHeaderImage">
      <a routerLink="/IngresosPorEconomico">
        <img class="img" src="assets/img/168-pie-chart-2.png" />
      </a>
    </div>
    <div><h4 class="card-title">Información por económico</h4></div>
  </div>
</div>

  <h3 class="rowTexto">Gastos.</h3>
  <div class="rowStyle">
    <div class="card">
      <div class="cardHeaderImage">
        <a routerLink="/GastosPorPrograma">
          <img class="img" src="assets/img/GastoPorPrograma.png" />
        </a>
      </div>
      <h4 class="card-title">Información por programa</h4>
    </div>

    <div class="card">
      <div class="cardHeaderImage">
        <a routerLink="/GastosPorEconomico">
          <img class="img" src="assets/img/GastoPorEconomico.png" />
        </a>
      </div>
      <h4 class="card-title">Información por económico</h4>
    </div>
  </div>
</div>

