:root {
  --fuente-principal: 'Roboto', serif;
  --primario: #da595e;
  --obscuro: #484848;
  --claro: #ffffff;
}

body{
  display:flex;
  flex-direction: column;
}

main{
  /* min-height: 100vh; will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  /* height of your footer */
  /* padding-bottom: 80px;  */

  flex: 1;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center
}

#vizContainerTableau{
  height: 80vh;
}
