<footer>
  <div class="row">
      <div class="col-2"></div>

    <div class="col-3 justify-content-start">
      <p>
        <span>© </span>
        <span>{{ anio }} OCM Jerez. Ver 1.0.4</span>
      </p>
    </div>

    <div class="col-2 justify-content-center">
      <a href="https://www.facebook.com/OcmJerez/" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
      <a href="https://twitter.com/ocmjerez" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
    </div>

    <div class="col-3 justify-content-end">
      <p>
        <span>Email: </span>
        <span>
          <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
        </span>
      </p>
    </div>
    <div class="col-2"></div>
  </div>
  </footer>

