<footer>
  <div class="row">
      <div class="col-2"></div>

    <div class="col-3 justify-content-start">
      <p>
        <span>© </span>
        <span>{{ anio }} OCM Jerez. Ver 1.0.0</span>
      </p>
    </div>

    <div class="col-2 justify-content-center">
      <a href="https://www.facebook.com/OcmJerez/" class="fa fa-facebook" target="_blank" rel="nofollow"></a>
      <a href="https://twitter.com/ocmjerez" class="fa fa-twitter" target="_blank" rel="nofollow"></a>
    </div>

    <div class="col-3 justify-content-end">
      <p>
        <span>Email: </span>
        <span>
          <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
        </span>
      </p>
    </div>
    <div class="col-2"></div>
  </div>

  </footer>



<!-- <footer>
  <div class="row justify-content-center">

    <div class="col-4">
      <p>
        <span>© </span>
        <span>{{ anio }} OCM Jerez. Ver 1.0.0</span>
      </p>
    </div>

    <div class="col-4">
      <a href="https://www.facebook.com/OcmJerez/" class="rk-social-btn ">
        <svg>
          <use xlink:href="/assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="https://twitter.com/ocmjerez" class="rk-social-btn ">
        <svg>
          <use xlink:href="/assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
    </div>

    <div class="col-4">
      <p>
        <span>Email: </span>
        <span>
          <a href="mailto:info@ocmjerez.org">info@ocmjerez.org</a>
        </span>
      </p>
    </div>
  </div>


</footer> -->
